<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency </title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

	
</head>
<body>
<div id="container" class="Dashboard">

    <div id="logo"> 
	 <h1>Welcome in Travel Agency</h1>
	</div>
	 
	<div id="menu"> 
	<a href="#" class="active">Home</a>
    <br>
    <a href="/clients">Manage Clients</a>
    <br>
    <a href="/agencies">Agencies</a>
    <br>
    <a href="/employees">People</a>
    <br>
    <a href="#">HR Settings</a>
    <br>
    <a href="#">Accounts</a>
    <br>
    <a href="#">Globals</a>
    <br>
    <a href="#">Raports</a>
    <br>
    <a href="#">Documents</a>
	</div>
    
</div>
</body>
</html>